[submodule "submodules/Eitri-NimPackageManager"]
	path = submodules/Eitri-NimPackageManager
	url = F:/CodingMain/Eitri-NimPackageManager
[submodule "submodules/Yggdrasil-ASCIIArt"]
	path = submodules/Yggdrasil-ASCIIArt
	url = F:/CodingMain/Yggdrasil-ASCIIArt
[submodule "submodules/Tyr-Crypto"]
	path = submodules/Tyr-Crypto
	url = F:/CodingMain/Tyr-Crypto
[submodule "submodules/Sigma-BenchAndEval"]
	path = submodules/Sigma-BenchAndEval
	url = F:/CodingMain/Sigma-BenchAndEval
